<mat-progress-bar *ngIf="isNavigating$ | async"></mat-progress-bar>
<mat-toolbar>
  <div class="container">
    <div class="title"><h1>Navbar</h1></div>
    <div class="actions">
      <button
        mat-button
        class="action"
        routerLink="/todo"
        routerLinkActive="active-link"
      >
        Todo
      </button>
      <button
        mat-button
        class="action"
        routerLink="/counter"
        routerLinkActive="active-link"
      >
        Counter
      </button>
    </div>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
