<div class="container">
  <form (ngSubmit)="submitForm()" [formGroup]="todoForm!">
    <div class="form-container">
      <div class="title">
        <span class="mat-display-1">{{ title }}</span>
        <div>
          <button mat-icon-button color="warn" type="button" routerLink="/todo">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input
          matInput
          placeholder="Enter Title"
          autocomplete="off"
          formControlName="title"
          autofocus
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          placeholder="Enter Description"
          autocomplete="off"
          formControlName="description"
        ></textarea>
      </mat-form-field>
      <button mat-flat-button color="primary" type="submit">Save</button>
    </div>
  </form>
</div>
