.container {
  display: flex;
  flex-direction: column;
  padding: 3em;
  margin: 3em 3em 0em 3em;
  border-radius: 10px;
  gap: 1em;
  background: #222;
  min-width: 400px;
}

.actions-container {
  display: flex;
  gap: 1em;
}

.title {
  display: flex;
  justify-content: space-between;
}
